<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create New Project</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
	<p>Content Here </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
   
   
      </md-button>
      <span flex></span>
      <md-button ng-click="closeDialog()">
	Cancel
      </md-button>
      <md-button ng-click="closeDialog()" style="margin-right:20px;">
	Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
