md-sidenav  {
    width: 20%;height:100%;
    padding:20px;
    background-color: #6bc7cc;
}

md-content {
    background-color : tan;
    height:100%;
    padding:20px;
}

.project-info-box {
    background-color:white;
}

.features-box {
    background-color:white;
}

.issues-box {
    background-color:white;
}

.comment-box {
    margin-top: 2em;
    height: 20%;
    background-color:white;
}