md-sidenav  {
    width: 20%;height:100%;
    padding:1em;
    background-color: #3f3f3f;
}

md-content {
    background-color : tan;
    height:100%;
    padding:20px;
}

.project-info-box {
    background-color:white;
}

.features-box {
    background-color:white;
}

.issues-box {
    background-color:white;
}

.comment-box {
    margin-top: 2em;
    height: 20%;
    background-color:white;
}
.comment-message {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: small;
}

.sendBtn {
    font-size: 11px;
    padding: 2px 3px 0 3px;
    margin: -12px 10px 3px 14px;
}
